@use '../util/' as u;
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

.contact__initial {
    flex-direction: column;
    justify-content: flex-start;
}

.contact__msg {
    text-align: justify;
}

.socials{
    .fa-brands{
        font-size: 1.5rem;
    }
}

.close-modal {
    width: 15%;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    background: u.$dark-secondary-col;
    color: white;
    border: none;
    &:hover {
        background-color: hsl(272, 73%, 36%);
    }
    &:active{
        background-color: hsl(272, 79%, 41%);
    }
}

.thank-you {
    font-size: 5vw;
    font-family: 'Sarina', cursive;
}



