@use '../util/' as u;
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');


.contact__msg {
    text-align: justify;
}
.socials{
    .fa-brands{
        font-size: 1.5rem;
    }
}
.thank-you {
    font-size: 5vw;
    font-family: 'Sarina', cursive;
}

.container {
    position: relative;
}
.modal {
    position: absolute;
    background-color: #ffffff17;
    backdrop-filter: blur(1rem);
    margin: 0;
    padding: 0;
    right: 0;
    border-radius: 5px;
    z-index: 100000;
}
.modal-off {
    transform: translateX(120%);
    transition: transform 350ms ease-in;
}

.modal-on {
    transform: translateX(0%);
    transition: transform 350ms ease-in;
}


.modal-content {
    display: flex;
    justify-content: center;
    

    .modal-cntnt-first {
        display: flex;
        align-items: center;
        h2 {
            font-size: 0.8vw;
            padding: 20px 150px 20px 10px;
            margin: 0px;     
        }
        i {
            padding-left: 10px;
            font-size: 1.3em;
            color: u.$light-secondary-col
        }
    }
    .close-modal {
        margin: 5px 10px 0 0;
        
    }

}



