@use '../util/' as u;
.flex {
    display: flex;
    gap: min(5vh, 2rem);
}

.toggle-control {
    padding-left: 20px;
}

nav {
    .off {
        @media (max-width: 900px) {
            transform: translateX(100%);
            transition: transform 350ms ease-in;
        }
    }
    .on {
        @media (max-width: 900px) {
            transform: translateX(0%);
            transition: transform 350ms ease-in;
        }
    }
    .bar {
    position: relative;
    padding: 10px 30px 0px;
    cursor: pointer;
        @media (max-width: 900px) {
            padding: min(5vh, 1rem);
            }
    }
    .bar:before {
        content: '';
        background: hsl(272, 71%, 32%);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in;
        
    }
    .bar:hover:before {
        width: 100%;
        transition: all 0.3s ease-out;
    }
    .bar:hover {
        background-position: 0;
    }
    .bar:active {
        border-radius: 5px 5px 0 0;
    }
    .active { 
        border-radius: 5px 5px 0 0;
        border-bottom: 3px solid hsl(272, 71%, 32%);
        border-bottom-width: 150%;
    }
}