@use '../util/' as u;

.other-head{
    margin-bottom: 0;
}
.carousel-container{
    border-radius: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: 110%;
    padding-inline: 2px;

    .card{
    background-color: u.$dark-mode-col-blur;
    margin-top: 1.5em;
    width: 97%;
    height: 95%;  
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;

    &--img {
        width: 100%;
        height: 230px;
        padding: .5em;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;

        &--hidden {
            display: none;
        }

        &--show{
            display:block;
        }
    }

    &--desc {
        text-align: center;
        font-size: 14px;
    }


    &--secondary{
        height: 230px;
        width: 100%;

        
        &--hidden {
            display: none;
        }

        &--show{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-inline: 20px;
            //set background image to blurred image
            
        }
    }


    .btn {
        display: flex;
        background-color: none;
        gap: 10px;
    }

    &--title{
        font-size: .53em;
        text-align: center;
        padding-top: 10px;
    }
    }
}