@use '../util/' as u;
//move this to layout, move color to toggle

.other-head{
    margin-bottom: 0;
}
.container--small--proj{
    display: flex;
    gap: 20px;
    // background-color: u.$dark-secondary-col;
    border-radius: 20px;
    overflow-x: hidden;
    // margin-block: 50px;
    // padding: 0 30px 40px;
    padding-bottom: 40px;
    padding-inline: 5px;
    // overflow-x: auto;

    .card{
    background-color: u.$dark-mode-col-blur;
    margin-top: 1.5em;
    width: 11em;
    height: 100%;   
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;

    &--img {
        width: 176px;
        height: 176.3px;
        padding: .5em;
        border-radius: 20px;

        &--hidden {
            display: none;
        }

        &--show{
            display:block;
        }
    }

    &--desc {
        text-align: center;
        font-size: 14px;
    }


    &--secondary{
        height: 176.3px;
        width: 176px;

        
        &--hidden {
            display: none;
        }

        &--show{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-inline: 20px;
            //set background image to blurred image
            
        }
    }


    .btn {
        display: flex;
        background-color: none;
        gap: 10px;
    }

    &--title{
        font-size: .53em;
        text-align: center;
        padding-bottom: 20px;
    }
    }
}