@use '../util/' as u;
//toggle button
input[type='checkbox'].dmcheck {
  width: 30px;
  height: 10px;
  background: gray;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  //set background color dark mode
  &:checked + label {
    left: 17px;
    background-color: u.$dark-mode-bg;
  }

//set background color light mode
  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 4px;
    background-color: u.$light-mode-bg;
    border: 2px solid u.$dark-secondary-col;
  }
}

//LIGHT MODE
body.light-mode {
  background-color: u.$light-mode-bg;
  color: u.$light-mode-col;
  transition: background-color 0.3s ease;
  //GLOBAL VARIABLES

  
  a, p, h2, h3, h4 {
    color: u.$light-mode-col-el;
  }
  //HEADER
  header{
    background-color: u.$light-mode-bg;   
  }
  //HAMBURGER
  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: u.$light-mode-col-el;
    }
  }

  .hamburger-inner {
    &, &::before, &::after{
      background-color: u.$light-mode-col-el;
    }
  }
  .header{

    $hamburger-layer-color: white;
    nav {
      color: u.$light-mode-col-el;
      li:active {
        background-color: u.$light-mode-col-blur;
      }
    }
    &__contact {
    background-color: u.$light-mode-col;
    color: u.$light-mode-bg !important;
    }
  }

  //HOME
  .home{
    &__download {
      background-color: u.$light-secondary-col;
      color: u.$light-mode-bg;
      border: 2px solid u.$light-secondary-col;
    }
    &__contact {
      border: 2px solid u.$dark-secondary-col;
      color: u.$light-mode-col;
    }
    h1{
      color: u.$light-mode-col;
    }
    .text{
        color: u.$light-mode-col-el;
    }
  }

  //projects
  //big projects
  .btn-container {
    .btn {
      color: u.$light-secondary-col;
      p {
        color: u.$light-secondary-col;
      }
    }
  }
  //small projects
  .container--small--projects{
    .card--title{
      color: u.$dark-mode-col-el;
    }

  }

  //contact
  .thank-you{
    color: u.$light-secondary-col;
  }
}

// DARK MODE
body.dark-mode {
  background-color: u.$dark-mode-bg;
  color: u.$dark-mode-col;  //GLOBAL VARIABLES
  a {
    color: u.$dark-mode-col;
  }
  //HEADER
  header{
    background-color: u.$dark-mode-bg;   
  }

  //HAMBURGER
  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: u.$dark-mode-col;
    }
  }
  .hamburger.inner {
    &, &::before, &::after{
      background-color: u.$dark-mode-col;
    }
  }

  nav {
    li:active{
      background-color: u.$dark-mode-col-blur;
    }
  }
  //HOME
  .home {
    &__download{
      background-color: u.$dark-secondary-col;
      color: u.$dark-mode-col;
      border: 2px solid u.$dark-secondary-col;
    }
    &__contact {
      border: 2px solid u.$dark-secondary-col;
    }
  }
}


