//css custom properties/variables

$dark-mode-bg: hsl(222, 27%, 12%);
$dark-mode-col: hsl(0, 0%, 100%);

$light-mode-bg: hsl(0, 0%, 100%);
$light-mode-col: hsl(272, 70%, 32%);

$dark-secondary-col: hsl(272, 71%, 32%);
$light-secondary-col: hsl(272, 71%, 32%);
