//css custom properties/variables

//dark mode
$dark-mode-bg: #161b27;
$dark-mode-col: #ffffff;
$dark-mode-col-el:#ffffff;
$dark-mode-col-blur: rgba(255, 255, 255, 0.09);

//light mode
$light-mode-bg: #f5f5f5;
$light-mode-col: #55188c;
$light-mode-col-el: #190b0b;
$light-mode-col-blur: rgba(0, 0, 0, 0.2);

$dark-secondary-col: #55188c;
$light-secondary-col: #55188c;
