.about {
    // height: calc(100vh - 62px);
    padding-inline: 30px;
    padding-block: 2rem;
    &--content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
    &--info {
        text-align: justify;
    }
    
}

