@use '../util/' as u;
.contact {
    height: calc(100vh - 72px);
    .container{
        padding-bottom: 10px;
        height: calc(100% - 47px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__form {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    &__img {
        display: flex;
        align-items: flex-end;
        width: 100%;
        transform: scaleX(-1);
    }

    &__hero{
        width: 100%;
    }
    form {
        display: flex;
        align-items: flex-start ;
        flex-direction: column;
        width: 80%;
        font-size: 16px;
        
        input {
        width: 100%;
        height: 35px;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
        &:focus {
            border: 2px solid u.$dark-secondary-col;
        }
        }
        textarea {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        height: 150px;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
        &:focus {
            border: 2px solid u.$dark-secondary-col;
        }
        }
        label {
        margin-top: 1rem;
        }
        input[type="submit"] {
        width: 20%;
        margin-top: 2rem;
        cursor: pointer;
        background: u.$dark-secondary-col;
        color: white;
        border: none;
        &:hover {
            background-color: hsl(272, 73%, 36%);
        }
        &:active{
            background-color: hsl(272, 79%, 41%);;
        }
        }
    }
}

