@use '../util/' as u;

.header {
    align-items: center;
    margin-block: 2rem;
    justify-content: space-between;
    position: sticky;
    z-index: 3;
    top: 20px;
    @media (min-width: 35rem) {
        background-color: hsl(0 0 100% / 0.09); 
        @supports (backdrop-filter: blur(1rem)){
            backdrop-filter: blur(1rem);
        }   
    }

    .mobile-nav-toggle{
        position: absolute;
        width: 1.5rem;
        aspect-ratio: 1 / 1;
        // top: -0.156rem;
        right: 0;
        z-index: 9999;
        @media (min-width: 35rem) {
            display: none;
            
        }
    
    }

    .nav {
        &__primary {
            list-style: none;
            padding: 0;
            margin: 0;
            // background-color: hsl(0 0 100% / 0.02); //darkmode
            // background-color: hsl(0 0 0% / 0.2); //lightmode
            @media (max-width: 35em) {
                z-index: 1000;
                flex-direction: column;
                position: fixed;
                inset: 0 0 0 30%;
                background-color: hsl(0 0 100% / 0.09);
                backdrop-filter: blur(1rem);
                padding: min(25vh, 8rem) 2rem;
                // 
                @supports (backdrop-filter: blur(1rem)){
                    backdrop-filter: blur(1rem);
                }
            }
        }

        .off {
            @media (max-width: 35em) {
                transform: translateX(100%);
                transition: transform 350ms ease-in;
            }
        }
        .on {
            @media (max-width: 35em) {
                transform: translateX(0%);
                transition: transform 350ms ease-in;
            }
        }
    }   
}