@use '../util/' as u;


.header {
    align-items: center;
    padding-block: 1.5rem;
    justify-content: space-between;
    position: sticky;
    z-index: 4;
    top: 0;
    }
    .mobile-nav-toggle{
        position: absolute;
        width: 1.5rem;
        aspect-ratio: 1 / 1;
        right: 20px;
        z-index: 9999;
        @media (min-width: 900px) {
            display: none;
            
        }
    }
    .nav {
        &__primary {
            list-style: none;
            padding: 0 40px 0 0;
            margin: 0;
            @media (max-width: 900px) {
                z-index: 1000;
                flex-direction: column;
                position: fixed;
                inset: 0 0 0 30%;
                background-color: #ffffff17;
                backdrop-filter: blur(1rem);
                padding: min(25vh, 8rem) 2rem;
                // 
                @supports (backdrop-filter: blur(1rem)){
                    backdrop-filter: blur(1rem);
                }
            }
        }
    }   
