.home {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    min-height: calc(100vh - 42px);

    &__profile{
        width: 400px;
    }
}